
$lmt-neutral-50: #F8F9FC;
$lmt-neutral-100: #EEEFF1;
$lmt-neutral-200: #DADDE7;
$lmt-neutral-300: #F1F2F8;
$lmt-neutral-400: #E8EAF1;
$lmt-neutral-500: #E3E6EF;
$lmt-neutral-600: #DEE1EB;
$lmt-neutral-700: #CDD0DA;
$lmt-neutral-800: #C9CBCF;
$lmt-neutral-900: #A0A1A7;
$lmt-neutral-1000: #868A98;
$lmt-neutral-1100: #666978;
$lmt-neutral-1200: #1B1F35;

$lmt-secondary-25: #F8F5FE;
$lmt-secondary-50: #F0ECFD;
$lmt-secondary-100: #E1D8FB;
$lmt-secondary-200: #C4B1F7;
$lmt-secondary-300: #A68AF3;
$lmt-secondary-400: #8963EF;
$lmt-secondary-500: #6B3CEB;
$lmt-secondary-600: #6036D4;
$lmt-secondary-700: #5630BC;
$lmt-secondary-800: #4B2AA5;

$lmt-gray-25: #F9FAFB;
$lmt-gray-50: #F5F6F7;
$lmt-gray-100: #EAECF0;
$lmt-gray-200: #D6DAE1;
$lmt-gray-300: #C1C7D1;
$lmt-gray-400: #ADB5C2;
$lmt-gray-500: #98A2B3;
$lmt-gray-600: #8E99AA;
$lmt-gray-700: #808B9C;
$lmt-gray-800: #758195;
$lmt-gray-outline: #D6DAE1;
$lmt-gray-divider: #EAECF0;
$lmt-gray-neutral: #FAFAFA;

$lmt-primary-25: #F2F9FE;
$lmt-primary-50: #E6F2FE;
$lmt-primary-100: #CCE5FD;
$lmt-primary-200: #99CBFA;
$lmt-primary-300: #67B2F8;
$lmt-primary-400: #3498F5;
$lmt-primary-500: #017EF3;
$lmt-primary-600: #0171DB;
$lmt-primary-700: #0165C2;
$lmt-primary-800: #0158AA;

$lmt-success-25: #F3FAF8;
$lmt-success-50: #E8F5F1;
$lmt-success-100: #D1EAE4;
$lmt-success-200: #A3D6C9;
$lmt-success-300: #74C1AD;
$lmt-success-400: #46AD92;
$lmt-success-500: #189877;
$lmt-success-600: #16896B;
$lmt-success-700: #137A5F;
$lmt-success-800: #116A53;

$lmt-warning-25: #FFF9F3;
$lmt-warning-50: #FEF4E6;
$lmt-warning-100: #FDE8CD;
$lmt-warning-200: #FBD29C;
$lmt-warning-300: #F9BB6A;
$lmt-warning-400: #F7A539;
$lmt-warning-500: #F58E07;
$lmt-warning-600: #DC8006;
$lmt-warning-700: #C47206;
$lmt-warning-800: #AC6305;

$lmt-red-25: #FDF5F3;
$lmt-red-50: #FCEBE6;
$lmt-red-100: #F8D6CE;
$lmt-red-200: #F1AE9D;
$lmt-red-300: #EB856B;
$lmt-red-400: #E45D3A;
$lmt-red-500: #F04438;
$lmt-red-600: #C72F08;
$lmt-red-700: #B12A07;
$lmt-red-800: #9B2406;

$lmt-dark-25: #F0F0F1;
$lmt-dark-50: #D9DADC;
$lmt-dark-100: #C0C2C4;
$lmt-dark-200: #8D9095;
$lmt-dark-300: #5A5F66;
$lmt-dark-400: #2C3C4E;
$lmt-dark-500: #253241;
$lmt-dark-600: #1C2732;
$lmt-dark-700: #151D26;
$lmt-dark-800: #11171D;