.lmt-admin-page {
    margin-left: -20px;
    .lmt-main-menu {
        background-color: $lmt_background_color;
        border-bottom: 2px solid $lmt-neutral-500;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .lmt-menu-logo {
            h3 {
                @include text($color: $lmt-primary-500, $size: 22px, $weight: 800, $lineHeight: 28px);
            }
        }
        .lmt-menu-item {
            text-decoration: none;
            padding: 10px 16px;
            border-radius: 8px;
            @include text($color: $lmt-dark-500, $size: 15px, $weight: 500, $lineHeight: 22px);
          &:hover{
            color: $lmt-primary-500;
          }
          &:focus{
            box-shadow: none;
            border: 1px solid $lmt-primary-50;
            background: $lmt-primary-50;
            color:  $lmt-primary-500;
          }
        }
    }
}