.lmt-table-wrapper {
    background: $lmt_background_color;
    border-radius: 8px;
    .lmt-table-header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: $lmt_border;
        border-radius: 8px 8px 0px 0px;
        .table-title {
            @include text($size: 20px, $weight: 600)
        }
        .ltm_button{
            background: $lmt-secondary-400;
            border: 1px solid $lmt-secondary-400;
            border-radius: 8px;
            &:hover{
                background: $lmt-secondary-300;
                border: 1px solid $lmt-secondary-300;
            }
        }
    }
  
    .lmt-table-filter {
        padding: 14px 20px;
        border-bottom: $lmt_border;
        display: flex;
        gap: 20px;
        .el-date-editor {
            max-width: 250px;
        }
        input{
            border: 1px solid $lmt-neutral-500;
            border-radius: 8px;
            &:hover{
                box-shadow: 0 0 0 0.5px $lmt-neutral-400 inset;
            }
            &:focus{
                outline: none;
                box-shadow: none;
                border: 1px solid $lmt-secondary-400;
            }
        }
    }
    .table-footer {
        padding: 16px 20px;
        .el-pagination {
            display: flex;
            justify-content: flex-end;
            .el-pagination__total {
                margin-right: 20px;
            }
        }
    }
    table {
        thead > tr > th {
            background-color: $lmt-neutral-50 !important;
        }
        tr {
            height: 60px;
        }
    }
}